@model Heroes
@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>
<hr />
<div class="mb-3">
    <label class="form-label">Nombre: </label>
    @Model.Nombre
</div>
<div class="mb-3">
    <label class="form-label">Poder: </label>
    @Model.Poder
</div>
<div class="mb-3">
    <label class="form-label">Debilidad: </label>
    @Model.Debilidad
</div>
<div class="mb-3">
    <label class="form-label">Universo: </label>
    @Model.Universo
</div>

